body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
span.detail {
color:gray;
font-size: 11px;
}
a { color: #00C; text-decoration: none}
a:visited { color: #008; }
a:hover {text-decoration: underline }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.byline {
  text-align:center;
  text-size:smaller;
  color:gray;
}
#errorExplanation {
  width: 300px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin:auto;
  margin-bottom: 20px;
  background-color: #fff0f0;
  -webkit-border-radius: 3px;
  
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

.dimmed {
	background-color: #f4f4f4;
}

input, textarea{
border:1px solid #ccc;
}

img.icon {
    width:32px;
    height:32px;
    
}

th {
    text-align:right;
}
label {
font-weight:normal;
font-family: verdana, arial, helvetica, sans-serif;
font-size:   12px;
}
input#submit{
border:1px solid #ccc;

	background-color: white;
	-webkit-border-radius:5px;
}

input#submit:hover{
	background-color: #EEF;
}
