<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Secrets.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Secrets</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>BLTs</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>NSMainNibFile</key>
	<string>SecretsPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>Secrets.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Secrets</string>
	<key>NSPrincipalClass</key>
	<string>SecretsPref</string>
</dict>
</plist>
